.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template: 1fr 50px 8fr/1fr;
  grid-template-areas:
    "header"
    "nav"
    "content";
}

.title {
  border: 4px green solid;
}

.nav {
  border: 4px blue solid;
}
.list {
  border: 4px red solid;
}
.article_card {
  border: 4px orange solid;
}

a {
  padding: 20px;
}
