.App {
    text-align: center;
    height: 100vh;
    display: grid;
    grid-template: 1fr 50px 8fr/1fr;
    grid-template-areas: "header" "nav" "content";
}

.title {
    border: 1px green solid;
}

.nav {
    border: 1px blue solid;
}

.list {
    border: 1px red solid;
}

.article_card {
    border: 4px orange solid;
}

a {
    padding : 20px;
}

.single_article {
    border: 4px tomato solid;
}

.commentCard {
    border: 4px purple solid;

}
.votes{
    height: 40px;
    display:flex;
    flex-direction: row;
    border:lightcoral solid;
    justify-content:space-around;
}
button:active{
    background-color: lawngreen;
}
.commentAdder{
    border: 4px red solid;
    margin-top: 10px;
}
